body{
  font-size: 62.5%;
}
.container{
  .header{
    text-align: center;
    padding:5em 0 8em 0;
    h1{
      font-size: 10em;
      color:#666666;
    }
    p{
      font-size: 3em;
      color: rgba(102, 102, 102, 0.34);
    }
  }//header
  .add{
    background-color: rgba(158, 158, 158, 0.16);
    margin:0 10em 10em 10em;
    border-radius:3em;
    #myForm{
      padding:10em;
      .buttonDiv{
        text-align: center;
        .addButton{
          border-radius:2em;
        }
      }
    }
  }//add
  .marketing{
    h2{
      text-align: center;
      font-size: 7em;
      color:#666666;
    }
    .meetingList{
      margin:0 12em;
      .mettingDiv{
        text-align: center;
        padding:3em 0;
        width:100%;
        margin: 3em 0;
        border-radius: 3em;
        .btn-danger{
          border-radius: 2em;
          margin:1em 0;
        }
      }
      .Important{
        background-color: rgb(255, 185, 160);
      }
      .No.important{
        background-color: #bdffa3;
      }
      .Medium{
        background-color: #f5fb99;
      }
    }
  }
}//general css

@media only screen and (max-width: 520px){
  .container{
    .add{
      margin: 0 3em 3em 3em;
      #myForm{
        padding: 3em;
      }
    }
    .marketing{
      .meetingList{
        margin: 0 5em;
      }
    }
  }
}